@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{

    background-image: linear-gradient(to right, #068587, #4FB99F );
}
main{
  background-color: white;   
  border-radius: 10px;  
  box-shadow: 10px 10px 10px #112F41;
  width: 600px; 
  padding: 10px;
  margin: auto;
}
h1{
color:#ED553B;
text-align: center;
text-shadow: 1px 1px 1px #112F41;
}
h2{
color: #F2B134; 
}
p{
    text-align: justify;
}
